# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# ...

action {
 define_artifacts {
 regex: "gcsfuse-logs-fio-hns.txt"
 regex: "gcsfuse-logs-ls-hns.txt"
 regex: "gcsfuse-logs-fio-flat.txt"
 regex: "gcsfuse-logs-ls-flat.txt"
 regex: "github/gcsfuse/perfmetrics/scripts/fio-output.json"
 regex: "**/*sponge_log.*"
 strip_prefix: "github/gcsfuse/perfmetrics/scripts"
 }
}

# Increase timeout to 6 hours
timeout_mins: 360
build_file: "gcsfuse/perfmetrics/scripts/continuous_test/gcp_ubuntu/build.sh"

env_vars {
  key: "BENCHMARK_TYPE"
  value: "distributed_benchmark_read"
}
